[submodule "extern/glew"]
	path = extern/glew
	url = git@github.com:Perlmint/glew-cmake.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = git@github.com:glfw/glfw.git
[submodule "extern/assimp"]
	path = extern/assimp
	url = git@github.com:assimp/assimp.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "extern/gli"]
	path = extern/gli
	url = git@github.com:g-truc/gli.git
[submodule "extern/glm"]
	path = extern/glm
	url = git@github.com:g-truc/glm.git
[submodule "extern/gsl"]
	path = extern/gsl
	url = git@github.com:microsoft/GSL.git
